.boardRow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  width: 100%;
  height: 70vh;
  background-color: darkred;

  font-size: 2rem;

  text-align: center;
}
