:global(body) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gameContainer {
  height: 100vh;
  width: 100vw;
  background-color: purple;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
