:global(body) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gameContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  max-width: 80vw;
  max-height: 80vh;
  z-index: 1;
}

.titleMin {
  max-width: 10vw;
  max-height: 10vh;
  z-index: 1;
}

.scrollWrapper {
  position: absolute;
  overflow: hidden;
  width: 100vw; /* or 100% */
  z-index: -2;
  background: #ee970b;
}

.scrollTrack {
  display: flex;
  width: max-content;
  animation: scroll 70s linear infinite;
  z-index: -2;
}

.scrollTrack img {
  width: 100vw;
  flex-shrink: 0;
  z-index: -2;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
