:global(body) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gameContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: #ee970b;
  background-image: url("../assets/bg.png");

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  animation: scrollBg 40s linear infinite;
}

@keyframes scrollBg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}
