:global(body) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gameContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #ede7f6, #cfc3e8, #b39ddb);

  display: flex;
  justify-content: center;
  align-items: center;
}
