.menuContainer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.title {
  max-width: 80vw;
  max-height: 80vh;
  z-index: 1;
}

.gameStartButton {
  font-size: 2rem;
  color: white;
  font-style: bold;
  z-index: 1;
  animation: slowBlink 2s ease-in-out infinite;
}

@keyframes slowBlink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}
