.lobbyCard {
  height: 20%;
  width: 95%;
  margin-top: 10px;
  margin-left: 10px;

  background-color: grey;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.image {
  width: 20%;
  height: 100%;
}
