.uiContainer {
  position: absolute;
  bottom: 1vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  height: 10vh;
}

.playerCard {
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
}
