.popupWindow {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1vh;

  width: 50vw;
  height: 60vh;
  background-color: orange;

  top: 10vh;
  bottom: 30vh;
  left: 25vw;
}

.hidden {
  display: none;
}

.question {
  font-size: 2rem;
}
